<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Simple Form Control
  </h1>
  <app-simple-form-control></app-simple-form-control>
  <h1>
    Simple Form Group
  </h1>
  <app-simple-form-group></app-simple-form-group>
  <h1>
    Simple Form Builder
  </h1>
  <app-simple-form-builder></app-simple-form-builder>
  <h1>
    Form With DataModel
  </h1>
  <app-form-with-datamodel [personObject]="personsimple"></app-form-with-datamodel>
  <h1>
    Dynamic Form Demo
  </h1>
  <app-dynamic-form [dataObject]="person"></app-dynamic-form>
</div>